*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #28224B;
}

.container{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 2.5fr 2.5fr 1fr;
    grid-gap: 9px;
    height: 100vh;
    width: 100vw;
    background: url("../images/BG%20Shape.png") no-repeat;
    background-size: cover;
}

nav, article, .photo_1, .photo_2, .photo_3, .photo_4{
 padding: 20px;
 font-size: 22px;
/* background: #fff;*/
 text-align: center;
 }

footer{
 padding: 20px;
 font-size: 22px;
 background: url("../images/footer.png") no-repeat;
 background-size: cover;
 text-align: center;
 background-position: bottom;
}

.nav{
 display: flex;
 grid-row-start: 1;
 grid-column-start: 1;
 grid-column-end: 4;
 justify-content: space-between;
 align-items: center;
}

.nav a {
    flex: 1;
    font-size: 16px;
    text-align: center;
    border: solid;
    border-width: 2px;
    padding: 25px 35px;
    margin-left: 20px;
    text-decoration: none;
    font-weight: 400;
    border-radius: 6px;
    border-color: #35B8BE;
}

.nav a:first-child{
    margin-left: 10px;
}

.nav a:last-child{
    margin-right: 10px;
}

.btn{
    background-color: #fff;
    color: #35B8BE;
    transition: background .3s linear;
}

.btn:hover{
    background-color: #35B8BE;
    color: #fff;
}


.photo_1{
 grid-row-start: 2;
 grid-column-start: 1;
}

.article{
 grid-row-start: 2;
 grid-row-end: 4;
 grid-column-start: 2;
}

.article_items{
    color: #35B8BE;
}

.article_text{
    padding: 15px;
    margin: 12px;
}

.photo_3{
 grid-row-start: 2;
 grid-column-start: 3;
}

.photo_2{
 grid-row-start: 3;
 grid-column-start: 1;
}

.photo_4{
 grid-row-start: 3;
 grid-column-start: 3;
}

.contacts{
 grid-row-start: 4;
 grid-column-start: 1;
 grid-column-end: 4;
}

.footer_name{
    text-align: left;
    color: rgba(69, 61, 113, 0.58);
}

.footer_name_2{
    text-align: left;
    color: rgba(69, 61, 113, 0.58);
    font-size: 12px;
}

.hr-line {
    margin-top: -10px;
    margin-bottom: 10px;
    padding: 0;
    height: 0;
    border: none;
    border-top: 1px solid rgba(69, 61, 113, 0.29);
}


@media (max-width: 1210px) {

.container{
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}


.nav {
    flex-direction: column;
    align-items: center;
    padding: 1em;
    grid-column-start: 1;
    grid-column-end: 3;
}

.nav a {
    flex: none;
    margin: 0.5em 0;
    padding: 10px 35px;
    width: 90%;
    font-size: 18px;
}

.nav a:first-child{
    margin-left: 0px;
}

.nav a:last-child{
    margin-right: 0px;
}


 .photo_1{
     grid-row-start: 2;
     grid-column-start: 1;
}

 .photo_2{
     grid-row-start: 2;
     grid-column-start: 2;
}

.article{
     grid-row-start: 3;
     grid-column-start: 1;
     grid-column-end: 3;
}

.article_text, article_text{
    text-align: center;
}

.photo_3{
     grid-row-start: 4;
     grid-column-start: 1;
}

.photo_4{
     grid-row-start: 4;
     grid-column-start: 2;
}

.contacts{
     grid-row-start: 5;
     grid-column-start: 1;
     grid-column-end: 3;
}
}



@media (max-width: 900px) {

.container{
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}


.nav {
    flex-direction: column;
    align-items: center;
    padding: 1em;
    grid-column-start: 1;
    grid-column-end: 3;
}

.nav a {
    flex: none;
    margin: 0.5em 0;
    padding: 10px 35px;
    width: 90%;
    font-size: 18px;
}

.nav a:first-child{
    margin-left: 0px;
}

.nav a:last-child{
    margin-right: 0px;
}

 .photo_1{
     grid-row-start: 2;
     grid-column-start: 1;
}

 .photo_2{
     grid-row-start: 2;
     grid-column-start: 2;
}

.article{
     grid-row-start: 3;
     grid-column-start: 1;
     grid-column-end: 3;
}

.article_text, article_text{
    text-align: center;
}

.photo_3{
     grid-row-start: 4;
     grid-column-start: 1;
}

.photo_4{
     grid-row-start: 4;
     grid-column-start: 2;
}

.contacts{
     grid-row-start: 5;
     grid-column-start: 1;
     grid-column-end: 3;
}
}



@media (max-width: 699px) {

.container{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.nav {
    flex-direction: column;
    align-items: center;
    padding: 1em;
    grid-row-start: 1;
    grid-column-start: 1;
}

.nav a {
    flex: none;
    margin: 0.5em 0;
    padding: 10px 35px;
    width: 90%;
    font-size: 18px;
}

 .photo_1{
     grid-row-start: 2;
     grid-column-start: 1;
     text-align: left;
}

 .photo_2{
     grid-row-start: 3;
     grid-column-start: 1;
      text-align: right;
}

.article{
     grid-row-start: 4;
     grid-column-start: 1;
}

.photo_3{
     grid-row-start: 5;
     grid-column-start: 1;
     text-align: right;
}

.photo_4{
     grid-row-start: 6;
     grid-column-start: 1;
     text-align: left;
}

.contacts{
     grid-row-start: 7;
     grid-column-start: 1;
}
}

